@font-face {
  font-family: JetBrainsMono;
  src: url(JetBrainsMono-Regular.woff2);
}

@font-face {
  font-family: JetBrainsMono;
  src: url(JetBrainsMono-Bold.woff2);
  font-weight: bold;
}

*,
.cm-editor .cm-gutters,
.cm-editor .cm-lineNumbers,
.cm-editor .cm-content {
  font-family: JetBrainsMono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  outline: none;
}

/* CodeMirror Override */
.cm-editor {
  background: transparent !important;
  height: 100%;
}

.cm-scroller {
  scrollbar-width: thin;
}

.cm-editor .cm-gutters {
  background: transparent !important;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
  .cm-editor .cm-gutters { border-right: 1px solid rgba(255, 255, 255, 0.05); }
}
.dark .cm-editor .cm-gutters {
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.cm-editor .cm-lineNumbers .cm-gutterElement {
  color: rgba(0, 0, 0, 0.3);
  padding: 0 8px 0 12px;
}

@media (prefers-color-scheme: dark) {
  .cm-editor .cm-lineNumbers .cm-gutterElement { color: rgba(255, 255, 255, 0.3); }
}
.dark .cm-editor .cm-lineNumbers .cm-gutterElement {
  color: rgba(255, 255, 255, 0.3);
}

.cm-editor .cm-activeLine, .cm-editor .cm-activeLineGutter {
  background-color: rgba(14, 165, 233, 0.05) !important;
}

@media (prefers-color-scheme: dark) {
  .cm-editor .cm-content { color: #e2e8f0; }
}
.dark .cm-editor .cm-content {
  color: #e2e8f0;
}

.cm-editor .cm-content .cm-line {
  padding: 0 1rem;
}

.cm-editor .cm-content {
  padding: 1.5rem 0;
}

/* Custom classes for JS handled states */
#copy.success {
  background-color: #22c55e !important;
  color: white !important;
}

#copy.error {
  background-color: #ef4444 !important;
  color: white !important;
}

#copy.pending {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}
